<!-- Section: Design Block -->
<app-nav ></app-nav>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Blog Title</label>
    <input type="email" class="form-control"
    [(ngModel)]="input.title" name="title"
    id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Blog Image</label>
    <input type="file" class="form-control" (change)="onFileSelected($event)" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Article</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="input.article" name="article" rows="3"></textarea>
  </div>
  <button (click)="SaveInfo()" class="btn btn-outline-primary">Save</button>

</form>