<mat-toolbar>
    <span>My Blogs</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" matTooltip="Back To Home"
        aria-label="Example icon-button with heart icon">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" matTooltip="Create New Blog"
        aria-label="Example icon-button with share icon">
        <mat-icon>note_add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Logout" class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>error</mat-icon>
    </button>

</mat-toolbar>